h1{
    background-color: blueviolet;
}

.paragraph-1{
    background-color: aquamarine;
    font-family: 32pt;
    color:brown;
}

.paragraph-2{
    border: 10px solid yellowgreen;
    border-radius: 10px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-left: 20px;

}

.paragraph-3{
    font-weight: bold;
    font-size: 22px;
    font-family: 'Courier New';
}